@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Convergence&display=swap');

.primary-background
{
    -fx-background-color: #373054;
}

.secondary-background
{
    -fx-background-color: #5A508C;
    -fx-text-fill: white;
}

.heading {
    -fx-font-size : 21px;
    -fx-text-fill: white; 
    -fx-font-smoothing-type: gray; 
    -fx-font-family: "Convergence", sans-serif;
    -fx-font-weight: 400;

}

.btn-primary
{
    -fx-background-color: #373054;
    -fx-border-radius: 5px;
    -fx-text-fill: white; 
    -fx-font-family: "Inter", sans-serif;
    -fx-font-size : 20px;
    -fx-font-smoothing-type: gray; 
}